EXPO_PUBLIC_SUPABASE_URL=https://ddtjbqqdbsevxxmxzjir.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rGuusUZrP3_FA_MJ49XdVA_7DWVBEBo
EXPO_PUBLIC_SEDE_ID=11111111-1111-1111-1111-111111111111
EXPO_PUBLIC_DEMO_EMAIL=demo@lamesa.co
EXPO_PUBLIC_DEMO_PASSWORD=lamesa2026
EXPO_PUBLIC_RESPALDO_RUIDOSO=1
EXPO_PUBLIC_WOMPI_LLAVE_PUBLICA=
EXPO_PUBLIC_WOMPI_REDIRECCION=lamesa://pago